{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="I am Arpit Verma, an undergraduate student of NIT Patna">
        <meta name="author" content="Arpit Verma">
        <meta name="keywords" content="arpit verma,arpitverma,vermaarpit,arpit verma profile,arpit verma heroku,arpit verma herokuapp,arpit profile,about arpit,about arpitnitp,nit patna arpit,mechanical arpit verma,about arpit verma,about nit arpit,about verma arpit,arpit verma nit patna,arpit verma nit patna mechanical,arpitvermanitpatnamechanical">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/icon.png' %}" style="border-radius: 50%" type="image/png">
        <title>Personal | Arpit Verma</title>
        <!-- Bootstrap CSS -->
        {% compress css inline %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        {% endcompress %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191535811-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-191535811-2');
        </script>
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="#"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="about">About</a></li> 
								<!--<li class="nav-item"><a class="nav-link" href="services">Services</a></li>-->
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="portfolio">Portfolio</a></li>
										<li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src="{% static 'img/arpit_profile.jpg' %}" alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									<h3>Arpit Verma</h3>
									<h4>An Undergraduate Student</h4>
									<p>Pursuing Mechanical Engineering at National Institute of Technology,Patna</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 4th January, 1999</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i> Ashok Rajpath ,Patna ,Bihar</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="https://www.facebook.com/profile.php?id=100006731280996" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/Arpitv19" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/arpit-verma-b44570199/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <footer class="footer_area p_30" style="background-color:white;color:black;font-family:Courier New">
            <marquee>Copyright &copy;<script>document.write(new Date().getFullYear());</script>&nbspAll rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></marquee>
        </footer>
        
        <!--================Welcome Area =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% compress js inline %}
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        {% endcompress %}
    </body>
</html>