{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="author" content="Arpit Verma">
        <meta name="description" content="Achievements">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/icon.png' %}" style="border-radius: 50%" type="image/png">
        <title>Portfolio</title>
        <!-- Bootstrap CSS -->
        {% compress css inline %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        {% endcompress %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191535811-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-191535811-2');
        </script>
    </head>
    <body style="font-weight: 400 ">
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="#"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="{{'/'}}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>Portfolio</h2>
							<div class="page_link">
                                <a href="#project">Project</a>
								<a href="#achieve">Achievement</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Home Gallery Area =================-->
        <section class="home_gallery_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>My Projects</h2>
        		</div>
        		<div class="gallery_f_inner row imageGallery1" id="project">
                    {% for pr in projects %}
        			<div class="col-lg-4 col-md-4 col-sm-6">
                        <div style="word-wrap: break-word">
                            <h2>&#9755&nbsp{{pr.about}}</h2>
                            <p>&#128279&nbsp<a href="{{pr.link}}" target="_blank">{{pr.link}}</a></p>
                            <blockquote>{{pr.desc}}</blockquote>
                        </div>
        			</div>
                    {% endfor %}
        		</div>
            </div>
        </section>
        <section class="home_gallery_area p_120">
            <div class="container">
                <div class="main_title">
                    <h2>My Achievements</h2>
                </div>
                <div class="gallery_f_inner row imageGallery1" id="achieve">
                    {% for ach in achievements %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div style="word-wrap: break-word">
                            <h2>&#9755&nbsp{{ach.field}}</h2>
                            <p style="color:blue">{{ach.platform}}</p>
                            {% ifequal ach.auth_url 'None' %}
                            <p>Not Available</p>
                            {% else %}
                            <p>&#128279&nbsp<a href="{{ach.auth_url}}" target="_blank">{{ach.auth_url}}</a></p>
                            {% endifequal %}
                            <blockquote>{{ach.descn}}</blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--================End Home Gallery Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_30">
            <marquee>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></marquee>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% compress js inline %}
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        {% endcompress %}
    </body>
</html>